SERVER_PORT=8080
API_VERSION=v1

LOG_LEVEL_ROOT=INFO
LOG_LEVEL_APP=INFO

SERVER_TOMCAT_THREADS_MAX=200
SERVER_TOMCAT_THREADS_MIN_SPARE=20

MANAGEMENT_ENDPOINTS=health,info,prometheus
SPRINGDOC_API_DOCS_ENABLED=true
SPRINGDOC_SWAGGER_UI_ENABLED=true
